{% extends "layout.html" %}
{% block body %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container" style="padding-top: 30px;">
  </div>
  <div class="dashboard">
    <div class="row dashboard-row">
      {% block dashboard_menu %}
        {% include "dashboard_menu.html" %}
      {% endblock %}
      <div style="margin-top: -20px;" class="col-md-10 timeline-container dashboard-cell timeline-border"> <!-- Timeline -->
        {% if bill %}
          <h2>
            <strong>{{ bill['title'] }}</strong>
          </h2>
          <!-- Active Badge -->
          {% if bill['is_alive'] %}
            <span class="label label-success">Active</span>
          {% else %}
            <span class="label label-danger">Not Active</span>
          {% endif %}
          <!-- Vote Status Badge -->
          {% if bill['current_status'] == 'enacted_signed' %}
            <span class="label label-success">Enacted</span>
          {% elif bill['current_status'] == 'pass_bill' or
                  'passed_simpleres' in bill['current_status'] or 
                  'passed_concurrentres' in bill['current_status'] %}
            <span class="label label-success">Passed</span>
          {% elif bill['current_status'] == 'prov_kill_cloturefailed' or 
                  'failed' in bill['current_status'] %}
            <span class="label label-danger">Failed</span>
          {% elif 'veto' in bill['current_status'] %}
            <span class="label label-danger">Vetoed</span>
          {% else %}
            <span class="label label-info">In Progress</span>
          {% endif %}
          <!-- Other Data -->
          <h4><strong>Sponsored by</strong></h4>
            {% include "congress_badge.html" %}
          <h5><strong>Status:</strong> {{ bill['current_status_label'] }}</h5>
            <h5 style="margin-left: 51px;">{{ bill['current_status_description'] }}</h5>
          <h5><strong>Introduced:</strong> {{ timestamp_prettify(bill['introduced_date']) }}</h5>
          <h5><strong>Last Action:</strong> {{ timestamp_prettify(bill['current_status_date']) }}</h5> 
          {% if 'house' in bill['bill_type'] %}
            <h5><strong>Chamber:</strong> House</h5>
          {% elif 'senate' in bill['bill_type'] %}
            <h5><strong>Chamber:</strong> Senate</h5> 
          {% endif %}
          <h5><strong>Congress:</strong> {{ bill['congress'] }}</h5> 
          <h5><strong>Link:</strong> {{ bill['link'] }}</h5>
          {% if bill['cosponsors'] %}
            <h4><strong>CoSponsors</strong></h4>
            {% for member in bill['cosponsors'] %}
                {% include "congress_badge.html" %}
            {% endfor %}
          {% endif %}
        {% else %}
          <p>We can't seem to find any billislation for you to vote on. Try again soon!</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}