<div class="well well-sm congress-badge pull-center">
  <div class="media">
    <div class="img-rounded media-object congress-badge-img pull-left" style="background-image: url('{{ member["img"] }}');"><a href="#"><img src={{ member["img"] }} /></a></div>
    <div class="media-body">
      <div class="media-body pull-left">
        <h4 class="media-heading">
          <strong><a href="moc/{{ member['person']['bioguideid'] }}">{{ member['titlename'] }}</a></strong>
          <span class="tab 
            {% if member["party"][:1] == "D" %}congress-badge-blue
            {% elif member["party"][:1] == "R" %}congress-badge-red
            {% else %}congress-badge-else{% endif %}">{{ member["party"][:1] }}</span>
          <span class="congress-badge-info">- {{ member["state"] }}</span>
        </h4>
        <p><span class="congress-badge-info">Term:</span> {{ timestamp_prettify(member["startdate"]) }} - {{ timestamp_prettify(member["enddate"]) }}<br>
        <span class="congress-badge-info">{% if member["senator_rank_label"] %}Rank: </span>{{ member["senator_rank_label"] }}{% elif member["district"] %}District: </span>{{ member["district"] }}{% endif %}<br>
        <a href="moc/{{ member['person']['bioguideid'] }}/votes"><span class="label label-info">Voting Record</span></p></a>
      </div>
      <div class="media-body pull-right">
        <div class="congress-badge-compatability text-success">80%</div>
      </div>
    </div>
  </div>
</div>