<div class="well well-sm congress-badge">
  <div class="media">
    <div class="img-rounded media-object congress-badge-img pull-left" style="background-image: url('{{ member["img"] }}');"><img src={{ member["img"] }} /></div>
    <div class="media-body">
      <div class="media-body pull-left">
        <h4 class="media-heading">
          <strong>{{ member["title"] }} {{ member["first_name"] }} {% if member["middle_name"] %}{{ member["middle_name"] }}{% endif %}{{ member["last_name"] }} {% if member["name_suffix"] %}{{ member["name_suffix"] }}{% endif %}</strong>
          <span class="tab congress-badge-blue">{{ member["party"] }}</span>
          <span class="congress-badge-info">- {{ member["state"] }}</span>
        </h4>
        <p><span class="congress-badge-info">Term:</span> {{ timestamp_prettify(member["term_start"]) }} - {{ timestamp_prettify(member["term_end"]) }}<br>
        <span class="congress-badge-info">{% if member["state_rank"] %}Rank: </span>{{ member["state_rank"].capitalize() }}{% elif member["district"] %}District: </span>{{ member["district"] }}{% endif %}<br>
        <span class="label label-info">Voting Record</span></p>
      </div>
      <div class="media-body pull-right">
        <div class="congress-badge-compatability text-success">80%</div>
      </div>
    </div>
  </div>
</div>