{% extends "layout.html" %}
{% block body %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container" style="padding-top: 30px;">
  </div>
  <div class="dashboard">
  {% if not firstvisit %}
	    <div class="row dashboard-row">
	      <div class="col-md-2 dashboard-menu"> <!-- Dashboard Menu -->
	        <a href="vote" class="btn btn-block btn-default dashboard-menu-button"><span class="pull-left tab"><span class="glyphicon glyphicon-ok-sign"></span> Go Vote</span></a>
	        <a href="votingrecord" class="btn btn-block btn-default dashboard-menu-button"><span class="pull-left tab"><span class="glyphicon glyphicon-list"></span> My Voting History</span></a>
	        <a href="compatibility" class="btn btn-block btn-default dashboard-menu-button"><span class="pull-left tab"><span class="glyphicon glyphicon-list-alt"></span> Compatibility List</span></a>
	      </div>
	      <div class="col-md-7 timeline-container dashboard-cell timeline-border"> <!-- Timeline -->
	      	<div class="timeline-labels">
				<button type="button" class="btn btn-default">All</button>
				<button type="button" class="btn btn-primary">Senate</button>
				<button type="button" class="btn btn-danger">House</button>
				<button type="button" class="btn btn-success">Friends</button>
				<button type="button" class="btn glyphicon glyphicon-repeat"></button>
	      	</div>
	      	{% include "timeline.html" %}
	      </div>
	      <div class="col-md-3 local-congress"> <!-- My Members of Congress -->
	        <h3 class="text-center"><strong>My Members of Congress</strong></h3>
	        <form class="form-inline zipcode" role="form" action="zip" method=post>
	          <div class="form-group">
	            <input type=text name=zipcode placeholder={% if current_user.zipcode %}{{ current_user.zipcode }}{% else %}"What's your zip?"{% endif %} class="form-control">
	          </div>
	          <button type="submit" class="btn btn-success">Change Zip</button>
	        </form>
	        {% if data %}
	        	{% for member in data['results'] %}
	        		{% include "small_congress_badge.html" %}
	        	{% endfor %}
	        {% else %}
	        	<p>Please enter a zipcode to continue :)</p>
	        {% endif %}
	      </div>
	    </div>
    {% else %}
      <h2 class="text-center">Welcome to iCongress!</h2>
      {% include "firstvisit.html" %}
    {% endif %}
	  </div>
{% endblock %}