{% extends "layout.html" %}
{% block body %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container" style="padding-top: 30px;">
      <h1>Dashboard</h1>
	    <div class="container signup_form_wrapper">
	      For fun let's see who your members of Congress are!
	      <form role="form" action="zip" method=post>
	        <div class="form-group">
	          <input type=text name=zipcode placeholder="Zipcode" class="form-control">
	        </div>
	        <button type="submit" class="btn btn-success">Submit</button>
	      </form>
	    </div>
    </div>
  </div>

  <div class="container">
  </div>
{% endblock %}