<div class="col-md-2 dashboard-menu"> <!-- Dashboard Menu -->
  <a href="compatibility" class="btn-lg dashboard-menu-button">
    <span class="glyphicon glyphicon-list-alt"></span><span class="tab" />Compatibility List
  </a>
  <a href="votingrecord" class="btn-lg dashboard-menu-button">
    <span class="glyphicon glyphicon-list"></span><span class="tab" />My Voting History
  </a>
  <a href="vote" class="btn-lg dashboard-menu-button">
    <span class="glyphicon glyphicon-ok-sign"></span><span class="tab" />Go Vote
  </a>
</div>
