<div class="col-md-5 local-congress"> <!-- My Members of Congress -->
  <h3 class="text-center"><strong>My Members of Congress</strong></h3>
  <form class="form-inline zipcode" role="form" action="zip" method=post>
    <div class="form-group">
      <input type=text name=zipcode placeholder={% if current_user.zipcode %}{{ current_user.zipcode }}{% else %}"What's your zip?"{% endif %} class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Change Zip</button>
  </form>
  {% if data %}
  	{% for member in data['results'] %}
  		{% include "congress_badge.html" %}
  	{% endfor %}
  {% else %}
  	<p>Please enter a zipcode to continue :)</p>
  {% endif %}
</div>
