<div class="well well-sm small-congress-badge">
  <div class="media">
    <div class="img-rounded media-object small-congress-badge-img pull-left" style="background-image: url('{{ member["img"] }}');"><a href="#"><img src={{ member["img"] }} /></a></div>
    <div class="media-body">
      <div class="media-body pull-left">
        <h5 class="media-heading">
          <strong><a href="#">{{ member["title"] }} {{ member["first_name"] }} {% if member["middle_name"] %}{{ member["middle_name"] }} {% endif %}{{ member["last_name"] }} {% if member["name_suffix"] %}{{ member["name_suffix"] }}{% endif %}</a></strong>
          <span class="tab small-congress-badge-blue">{{ member["party"] }}</span>
          <span class="small-congress-badge-info">- {{ member["state"] }}</span>
        </h5>
        <p><span class="small-congress-badge-info">Term:</span> {{ timestamp_prettify(member["term_start"]) }} - {{ timestamp_prettify(member["term_end"]) }}<br>
        <span class="small-congress-badge-info">{% if member["state_rank"] %}Rank: </span>{{ member["state_rank"].capitalize() }}{% elif member["district"] %}District: </span>{{ member["district"] }}{% endif %}<br>
      </div>
      <div class="media-body pull-right">
        <div class="small-congress-badge-compatability text-success">80%</div>
      </div>
    </div>
  </div>
</div>